<header class="sidebar">
  <h1 class="logo">Prioriza Enem</h1>
  <div class="profile">
      <img src="#" alt="" />
      <span class="name-profile">Karthi Madesh</span>
      <span class="permission-profile">Admin</span>
  </div>
  <div class="navlinks">
      <nav>
          <ul>
              <li><img src="./image/icons/home-lg-alt-1.svg" alt="" /> <span>Home</span></li>
              <li><img src="./image/icons/bookmark-1.svg" alt="" /><span>Course</span></li>
              <li class="active"><img src="./image/icons/graduation-cap-1.svg" alt="" /><span>Students</span></li>
              <li><img src="./image/icons/usd-square-1.svg" alt="" /><span>Payment</span></li>
              <li><img src="./image/icons/sliders-v-square-1.svg" alt="" /><span>Settings</span></li>
          </ul>
      </nav>
      <div>
          <a href="http://">Logout</a>
      </div>
  </div>
</header>