<main class="info">
  <section class="header">
      <nav>
          <ul>
              <div>
                  <li><img src="./image/icons/caret-circle-down-1.svg" alt="" /></li>
              </div>
              <div class="header-ul-li-search-notification">
                  <li><input type="search" name="" id="search" placeholder="search" /></li>
                  <li><img src="./image/icons/bell1.svg" alt="" /></li>
              </div>
          </ul>
      </nav>
  </section>
  <section class="section-add-new-question">
      <ul>
          <div>
              <li>Questions List</li>
          </div>
          <div class="section-add-new-question-ul-li-img-button">
              <li><img src="./image/icons/sort-1.svg" alt="" /></li>
              <li><button type="button" id="register-question" (click)="openModal()">Add new question</button></li>
          </div>
      </ul>
  </section>
  <section class="dividing-line"></section>
  <section class="main">
      <table id="table">
          <thead class="thead">
              <tr>
                  <th>Questions</th>
                  <th>Level</th>
                  <th>Matter</th>
                  <th>Content</th>
                  <th></th>
              </tr>
          </thead>
          <tbody class="tbody">
            <tr *ngFor="let question of questions">
                <td> {{question.statement}} </td>
                <td> {{question.level}} </td>
                <td> {{question.course}} </td>
                <td> {{question.topic}} </td>
            </tr>
          </tbody>
      </table>

      <app-modal *ngIf="isModalOpen" (onClose)="closeModal()" (onSave)="addQuestionToList($event)">
        <div> Titulo</div>

      </app-modal>
  </section>
</main>