
<div class="modal-add-new-question" id="modal-add-new-question">
  <div class="modal-content">
      <header class="modal-header">
          <h2>New questions</h2>
          <span class="modal-close" id="modal-close">&#10006;</span>
      </header>
      <form action="" class="form-modal-add-new-question" id="form-modal-add-new-question">
          <input type="text" data-index="new" class="modal-field" placeholder="Questions" required id="question" />
          <input type="text" class="modal-field" placeholder="Level" required id="level" />
          <input type="text" class="modal-field" placeholder="Matter" required id="matter" />
          <input type="text" class="modal-field" placeholder="Content" required id="content" />
      </form>
      <footer class="footer-modal-add-new-question">
          <button type="button" class="button" id="save-new-question">Save</button>
          <button type="button" class="button button-cancel" id="cancel-new-question">Cancel</button>
      </footer>
  </div>
</div>